.post-container {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 30px;
    margin-top: 150px;
  
}

.post-card {
    width: 400px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.post-profile-info {
    text-align: left;
    height: 50px;
    position: relative;
    bottom: 15px;
}

.profile-icon {
    width: 50px;
    height: 50px;
    object-fit:cover;
    border-radius: 50%;
    position: relative;
    top: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.post-info-container{
    background-color: #FAF9F6;
    border-radius: 10px;
    padding: 0px 25px 25px 25px;

}

.post-info {
    width: 350px;
    text-align: left;
    color: black;
}

.post-img {
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    right: 25px;
}

.post-font-size{
font-size: 14px;
}

.bold {
    font-weight: bold;
}

@media only screen and (max-width:414px) {
    .post-container {
        width: 414px;
    }
    .post-info-container {
        border-radius: 0px;
        padding: 0px 0px 0px 0px;
    }

    .post-card {
        width: 414px;
    }

    .post-img {
        width: 414px;
        height: 400px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        position: relative;
        right: 0px;
        margin-left: auto;
        margin-right: auto;
    }

    .post-info {
        width: 350px;
        text-align: left;
        color: black;
        margin-right: auto;
        margin-left: auto;
    }

    .post-profile-info {
     padding: 0px 15px 20px 20px;

    }
}