.profile-menu {
    margin-top: 100px;
    text-align: center;
}

.edit-profile-icon {
    height: 20px;
    cursor: pointer;
    margin-left: 10px;
}
.edit-profile-icon:hover {
    transform: scale(1.2)
}

.no-posts {
    color: white;
    text-align: center;
    margin-top: 80px;
}

@media only screen and (max-width:414px) {
    .profile-menu {
        width: 414px;
    }

    .bio {
        width: 350px;
    }


}