.new-post-form {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background: #FAF9F6;
    color: black;
    padding: 30px;
    width: 350px;
    border-radius: 20px;
    margin-top: 120px;
}

.new-post-input {
    width:300px;
    border: none;
    background: transparent;
    outline: none;
    border-bottom: 1px solid  black;
    margin-bottom: 25px;
}

.newpost-dropdown-menus {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
}

.new-post-btn {
    font-size: 15px;
    font-weight: bold;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    background-color: black;
    border: none;
    color: #FAF9F6;
    cursor: pointer;
    margin-top: 20px;
}

.new-post-btn:hover {
    background-color: #FAF9F6;
    color:  black;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.bustlevel {
    width: 143px;
    margin-bottom: 20px;

}

@media only screen and (max-width:414px) {
    .new-post-form {
        width: 414px;
        border-radius: 0px;
        padding: 30px 0px 40px 0px;
        /* margin-top: 80px; */
    }
}