.user-info {
    text-align: center;
margin-top: 100px;
}

.bio {
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    color: white;
    font-size: 14px;
}

.userName {
    color: #FAF9F6;
    text-align: center;
}

.profile-img {
    height: 200px;
    width: 200px;
    object-fit:cover;
    border-radius: 20px;
}