.signin-wrapper {
    width: 710px;
    height: 333px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    background-color: #FAF9F6;
    position: fixed;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}

.signin-img {
    width: 500px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.signin-container {
    text-align: center;
}

.signin {
    margin-top:0px;
    margin-bottom: 50px;
}

.signin-form {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background: #FAF9F6;
    color: black;
    padding: 30px;
    border-radius: 20px;

}

.input {
    border: none;
    background: transparent;
    outline: none;
    border-bottom: 1px solid  black;
    margin-bottom: 25px;
}


.signin-btn {
    font-size: 15px;
    font-weight: bold;
    border-radius: 20px;
    border: 1px solid #05ae75;
    margin-bottom: 20px;
    width: 100px;
    height: 40px;
    background-color: #05ae75;
    /* background-color: green; */
    color: white;
    cursor: pointer;
}

.signin-btn:hover {
    border: 1px solid #05ae75;
    background-color: #FAF9F6;
    color:  #05ae75;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.signup-link {
    color:  black;
    text-decoration: none;
    font-size: 14px;
}

.signup-link:hover {
    font-weight: bold;
}



@media only screen and (max-width:414px) {

    .signin-wrapper {
        width: 320px;
        display: block;
    }

    .signin-img {
        display: none;
    }

    .input {
        width: 250px;
    }

}