.post-details-container {
    width: 1000px;
    height: 400px;
    border-radius: 10px;
    background-color: #FAF9F6;
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.spotdetail-info {
    padding: 30px;
    font-size: 14px;
}

.spotdetail-image {
    height: 400px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.spot-details-profile-name {
    font-size: 14px;
    font-weight: bold;
}

.spot-details-profile-name-mobile {
    display: none;
}

.spotdetail-name {
    text-align: center;
}

@media only screen and (max-width:414px) {

    .post-details-container {
    width: 414px;
    display: block;
    color: black;
    border-radius: 0px;
}
.spotdetail-image {
    width: 414px;
    height: 414px;
    border-radius: 0px;
}

.spotdetail-name {
    text-align: center;
    margin-bottom: 15px;
    margin-top:0px;
}

.spotdetail-info {
    background-color: white;
    padding: 15px;
    position: relative;
    bottom: 3px;
}

.spot-details-profile-name {
    display: none;
}

.spot-details-profile-name-mobile {
    width: 400px;
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: black;
    position: relative;
    bottom: 10px;
    left: 10px;
}
}