.borough-title {
    color:#FAF9F6;
    text-align: center;
    position: relative;
    top: 40px;
}

.borough-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 125px;
}

.borough-card {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 30px;
    cursor: pointer;
}

.borough-img {
    width: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.borough-name {
    color:black;
    text-align: center;
    font-weight: bold;
}

@media only screen and (max-width:414px) {
    .borough-container {
        width: 300px;
        display: block;
    }

    .borough-name {
        padding-bottom: 15px;
    }
}
