.update-post-form {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background: #FAF9F6;
    color: #1e2832;
    padding: 30px;
    width: 300px;
    border-radius: 20px;
    margin-top: 10px;
}

.dropdown-menus {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.delete-post-btn {
    font-size: 15px;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    width: 100px;
    height: 40px;
    background-color: rgb(169, 10, 10);
    color: #FAF9F6;
    cursor: pointer;
    margin-top: 20px;
}

.delete-post-btn:hover {
    background-color: #FAF9F6;
    color:  rgb(169, 10, 10);
    border: 1px solid rgb(169, 10, 10);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.bustlevel {
    width: 143px;
    margin-bottom: 20px;
}

.update-input {
    width: 300px;
    border: none;
    background: transparent;
    outline: none;
    border-bottom: 1px solid  #1e2832;
    margin-bottom: 25px;
}

.update-post-btns {
    width: 225px;
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    position: relative;
    top: 15px;
}

@media only screen and (max-width:414px) {
    .update-post-form {
        width: 414px;
        border-radius: 0px;
        margin: 0px;
        padding: 0px 0px 15px 0px;
        position: relative;
        bottom: 5px;
    }

    .update-input {
        margin-bottom: 0px;
        margin-top: 25px;
    }

    .dropdown-menus {
        display: flex;
        justify-content: space-evenly;
        width: 345px;
        margin-top: 20px;
        margin-right: auto;
        margin-left: auto;
    }

    .update-post-btns {
        position: relative;
        top: 0px;
    }

}