.map-container {
  width: 600px;
  height: 726px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  position: relative;
  top: 14px;
  }
  
@media only screen and (max-width:414px) {
  .map-container {
    width: 414px;
    border-radius: 0px;
  }
}