.nav-container {
    display: flex;
    justify-content:space-between;
}

.nav-link {
    margin-right:30px;
    text-decoration: none;
    color: #FAF9F6;
    font-weight: bold;
    position: relative;
    top: 20px;
}

.nav-link:hover {
    text-decoration: underline;
}

.welcome {
    display: inline-flex;
    color: #FAF9F6;
    font-weight: bold;
    margin-right:30px;
    position: relative;
    top: 20px;
}

.logo {
    color: #FAF9F6;
    margin-left: 20px;
    text-decoration: none;
    position: relative;
    top: 3px;
}

.logo:hover {
    transform: scale(1.1);
}

.nav-icon {
    height: 20px;
}

.nav-icon:hover {
    transform: scale(1.4);
}
