.postbyborough-wrapper{
    cursor: pointer;
}

.back-to-boroughs {
    color: #FAF9F6;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    position: relative;
    top: 30px;
}

.back-to-boroughs:hover {
    text-decoration: underline;
}

.postbyborough-container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.postbyborough-card {
    width: 350px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.spot-info-container{
    background-color: #FAF9F6;
    border-radius: 10px;
    padding: 0px 25px 5px 25px;

}

.postbyborough-img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    right: 25px;
    
}

.post-name {
    font-size: 14px;
    font-weight: 500;
}

@media only screen and (max-width:414px) {

    .back-to-boroughs {
        margin-top: -10px;
    }

    .postbyborough-wrapper {
    width: 350px;
    }

    .spot-info-container {
        width: 350px;
        text-align: center;
        padding: 0px 0px 5px 0px;
    }

    .postbyborough-container {
        width: 350px;
        display: block;
    }

    .postbyborough-card {
        width: 350px;
    }

    .postbyborough-img {
        width: 350px;
        height: 350px;
        position: relative;
        right: 0px;
    }


}