.postbyborough-wrapper{
    cursor: pointer;
}

.back-to-boroughs {
    color: #FAF9F6;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    position: relative;
    top: 30px;
}

.back-to-boroughs:hover {
    text-decoration: underline;
}

.postbyborough-container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.postbyborough-card {
    width: 350px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.post-name {
    font-weight: bold;
}
.postbyborough-img {
    width: 350px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    right: 25px;
}